html {
    background: #C9CBCB;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: linear-gradient(to right, #FFFFFF 30%, #000000 0%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #FFFFFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1260px;
    height: 786px;
    padding: 2em 2em 4em;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: .4;
}

h1{
    font-size: 3.5em; 
    text-transform: uppercase;
    padding-top: 10%;
        font-weight: normal;
}

h2{
    font-size: 1.5em; 
    text-transform: uppercase;
    letter-spacing: 8px;
}
span
{
    font-weight: 700;    letter-spacing: 2px;
     
}

.nphon{
   letter-spacing: 1.5px; font-weight: 700; 
}

h3{
    font-size: 1.2em; 
    text-transform: uppercase;
}

header
{
    padding-left: 35%;
    text-align: left;

}

.burger{
    float: right;
}

.boxs{
    float: left;    
    color: black;
}

.iconpages{
    font-size: 4em;
}

section{
    max-width: 100%;
}


.container
{
    max-width: 100%;
    height: 800px;
}
.top-right {
    top: 11%;  
    position: absolute;
    width: 100%;
    left: 25%;
}
.right
{
    float: left;
    max-width: 50%;
    margin: 0 auto;
    padding-right: 3%;
    padding-left: 9%;
    position: relative;

}
.specialimg{
    max-width: 100%;
    padding-left: 50%;
    margin-top: -40%;
    opacity: 0.12;
}

.left1
{
    float: left;
    max-width: 2%;
    padding-top:9%;
}

.left3
{
    float: right;
    max-width: 45%;
   padding-top:5%;

}
.right3
{
    float: right;
    max-width: 40%;
    padding-top:0%;
    padding-left: 10%;
}
.left2
{
    float: left;
    padding-left: 3%;
    max-width: 22%;
}
.left4
{
    float: left;
    padding-left: 0%;
    max-width: 30%;
}
.cre{
    padding-left: 50%;
}
p{
    text-align: justify;
}


.list1{
    width: 150px;
    float: left;
    list-style-type:square;
}
.cerc{
text-align: left;    padding-left: 5%;
}




.mySlides {
  display: none;
    padding-top: 2%;
}


.no-ul-style span
{
    font-weight: 700;   padding-right: 2%; 
}
.no-ul-style strong
{
            text-transform: uppercase;


}
.no-ul-style
{
        list-style-type: none;

}
.no-ul-style li 
{
    padding-bottom: 1%;      
    width: 100%;
}

/* The dots/bullets/indicators */

footer{
    float: left;
    width: 100%;
    position: relative
}

.condition
{
    text-align: right;
    max-width: 30%;
    float: right;    position: relative;
        top:-70px;

}
.xsw{ max-width: 60%;
    float: left;
}
.tele{
    font-size: 1.3em;
    float:left;
    padding-left:13%;
    margin-top:-55px;
    color: black;    letter-spacing: 1px;

}
.ico
{
    opacity: 0.37;
    max-width: 5%;
    left: 13%;
    position: relative;
    top:-100px;
    margin-right: 2px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 auto;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
      border-color: black;
   border-style: solid;

}

.active, .dot:hover {
  background-color: #ddd;
}





.skills {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-width: 100%; /* Chrome, Safari, Opera */
    -moz-column-width: 100%; /* Firefox */
    column-width: 100%;
}

.skills2 {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    -webkit-column-width: 100%; /* Chrome, Safari, Opera */
    -moz-column-width: 100%; /* Firefox */
    column-width: 100%;
}
.skillsimg{
    margin: 0 auto;
    max-width: 80%;
}

.cc{
    text-align: center;
    padding-top: 12%;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
